
ion-title{
    margin-top: 1rem;
    text-align: center;
    background-color: #ffc409;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 27px;
}

ion-list{
    
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #bfbdb9 ;
}
ion-item{
    padding: 10px;
    border-radius: 10px;
}
